@import "headings";

html {
  font-size: 21px;
}

body {
  @apply text-grey-darkest font-serif subpixel-antialiased;
}

p {
  @apply mb-3 leading-normal text-lg;
}

a {
  @apply text-grey-darker no-underline border-b border-transparent font-sans text-base;

  transition: 0.1s ease;
}

a:hover {
  @apply border-grey-darker;
}

blockquote {
  @apply bg-grey-lighter p-3 mb-3 -ml-3 -mr-3;

  & > :last-of-type {
    @apply mb-0 pb-0;
  }
}

table {
  @apply mb-2;

  & th,
  & td {
    @apply p-2 mr-1 text-left;

    font-variant-numeric: tabular-nums;
  }
}

li {
  @apply mb-1;

  &:last-of-type {
    @apply mb-0;
  }
}

dl {
  @apply mb-2;

  dt {
    @apply font-bold mb-2;
  }

  dd {
    @apply mb-3 ml-6;
  }
}

pre {
  @apply mb-3;

  white-space: pre-line;
}

address {
  @apply mb-2;
}

hr {
  @apply border-b-2 border-grey-light;
}

img {
  @apply my-2;
}
